* {
  margin: 0;
  padding: 0;
  /* Typo fixed here */
  outline: none;
  /* Typo fixed here */
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
}

.h1 {
  font-size: 33px;
  margin-top: 20px;
  color: white;
}

.label {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.dabba {
  margin: 1px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.4px);
  -webkit-backdrop-filter: blur(18.4px);
  border: 1px solid rgba(255, 255, 255, 0.73);
}

input::placeholder {
  color: black;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  width: 100%;
  /* Typo fixed here */
  color: white;
  border: 2px solid white;
  padding: 8px;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  /* Typo fixed here */
  transition: all 0.4s ease;
  /* Typo fixed here */
}

button:hover {
  /* Typo fixed here */
  background-color: white;
  color: black;
}

textarea {
  resize: none;
}